@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 11.5rem auto;

  &__emoji {
    font-size: 6rem;
    animation: spin 2s linear infinite;
  }
  &__message {
    font-size: 4rem;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    display: block;
    color: #0095ff;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
