@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.videos-selection {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 0rem 0.75rem;

  @include tablet {
    padding: 0 2.25rem;
    margin-bottom: 3rem;
  }

  &__title {
    color: #afafaf;
    margin-bottom: 0.75rem;
    font-size: 0.8125rem;

    @include desktop {
      margin-top: 2rem;
      font-size: 0.875rem;
    }
  }

  @include desktop {
    margin-top: 0rem;
    border-left: 2px solid #e1e1e1;
    padding: 0 0 4rem 1.6rem;
    margin-bottom: 0rem;
  }
}
