@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;

.not-found-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  padding: 5rem;
  background-color: #f5f5f5;
  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: #0095ff;
    @include tablet {
      font-size: 5rem;
    }
  }
  &__text {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1.2rem;
    @include tablet {
      font-size: 2rem;
    }
  }
  &__link {
    font-size: 1rem;
    color: #0095ff;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &:active {
      cursor: pointer;
    }
    @include tablet {
      font-size: 2rem;
    }
  }
}
